%form{ method: 'get', action: iri.cut('/bash') }
  %label
    Run this Bash command on our server:
  %fieldset
    %textarea{ name: 'command', required: true, tabindex: 1, autofocus: true, style: 'width: 100%; height: 4em; font-family: monospace;' }
      &= command
    %input{ type: 'submit', tabindex: 2, value: 'Run' }

%pre= stdout