%p
  %i.fa-solid.fa-circle-exclamation.bad.fa-3x{style: 'float: left; margin-right: .2em;'}
  This system is currently in
  %span.bad<
    active development
  = '.'
  We advise against using it unless you are fully aware of the potential risks and implications.
  Upon public release, we will make an official announcement in our Telegram group:
  %a{href: 'https://t.me/zerocracy'}<
    @zerocracy
  (please, join).

%p
  If you don't know how it works, start from
  != href('https://github.com/zerocracy/judges-action', 'here', dot: true)

