!!! 5
%html
  %head
    %title zerocracy
    %meta{charset:'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css', rel: 'stylesheet'}
    %link{rel: 'shortcut icon', href: 'https://raw.githubusercontent.com/zerocracy/baza/master/assets/svg/logo.svg'}
    %link{href: iri.cut('/css/empty.css'), rel: 'stylesheet'}
  %body
    %section
      %article
        %p
          %a{href: iri.cut('/')}
            Back home
        != yield
        %p
          &copy;
          != '2009' + '&ndash;' + Time.now.strftime('%Y')
          %a{href: iri.cut('/')}
            Zerocracy
