n!!! 5
%html
  %head
    %title zerocracy
    %meta{charset:'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css', rel: 'stylesheet'}
    %link{rel: 'shortcut icon', href: iri.cut('/svg/logo.svg')}
    :css
      .logo { width: 64px; height: 64px; }
  %body
    %section
      != yield
