%p
  %img.logo{src: 'https://raw.githubusercontent.com/zerocracy/baza/master/assets/svg/logo.svg', alt: 'Logo'}

%p{style: 'color: red;'}
  Internal error at
  =Baza::VERSION

%p
  Please help us improve our service and submit the following
  stacktrace to our issue tracker in GitHub:
  %a{href:'https://github.com/zerocracy/baza'} zerocracy/baza

%pre
  &=error
