%p
  %a{href: iri.cut('')}
    %img.logo{src: 'https://raw.githubusercontent.com/zerocracy/baza/master/assets/svg/logo.svg', alt: 'Logo'}

%p{style: 'color: red;'}
  Oops, there is an internal error

%p
  Please help us improve our service and submit the following
  stacktrace to our issue tracker in GitHub:
  != href('https://github.com/zerocracy/baza', 'zerocracy/baza', dot: true)

%pre
  &=backtrace

%p
  =Baza::VERSION
