%p
  %strong Zerocracy
  boosts
  the performance of software projects by
  %span{style: "border-bottom: 1px solid grey;"} rewarding
  and
  %span{style: "border-bottom: 1px solid grey;"} punishing
  programmers when they deserve it
  %br
  (programmers, not projects).
