%p
  <strong>Zerocracy</strong> is a chatbot that boosts
  performance of software projects by
  <span style="border-bottom: 1px solid grey;">rewarding</span>
  and
  <span style="border-bottom: 1px solid grey;">punishing</span>
  programmers,
  when they deserve it.
