%form{method: 'post', action: iri.cut('/push'), enctype: 'multipart/form-data'}
  %fieldset
    %label
      Token:
    %input{ type: 'text', name: 'token', value: token, tabindex: 1, placeholder: 'Token', size: 40, maxlength: 36 }
    %label
      Name:
    %input{ type: 'text', name: 'name', tabindex: 2, placeholder: 'Name', size: 25, maxlength: 24 }
    %label
      Factbase:
    %input{ type: 'file', name: 'factbase', tabindex: 3, placeholder: 'Factbase' }
    %label
    %input{ type: 'submit', tabindex: 4, value: 'Start' }
