%p
  It is possible to submit a factbase through this form.
  This will trigger a new job.
  However, it is not recommended to do this manual operation.
  Instead, configure the
  != href('https://github.com/zerocracy/judges-action', 'zerocracy/judges-action')
  plugin, which automatically submits factbases through this form.

%form{method: 'post', action: iri.cut('/push'), enctype: 'multipart/form-data'}
  %fieldset
    %label
      One of your
      = ' '
      %a{href: iri.cut('/tokens')}> tokens
      = ':'
    %input{ type: 'text', name: 'token', value: token, tabindex: 1, placeholder: 'Token', size: 40, maxlength: 36 }
    %label
      Job name:
    %input{ type: 'text', name: 'name', tabindex: 2, placeholder: 'Name', size: 25, maxlength: 24 }
    %label
      Factbase (a binary file created by the
      != href('https://github.com/yegor256/judges', 'judges')
      toolkit):
    %input{ type: 'file', name: 'factbase', tabindex: 3, placeholder: 'Factbase' }
    %label
    %input{ type: 'submit', tabindex: 4, value: 'Start' }
